* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #050505;
}

body {
  margin: 0;
  background: #050505;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  color: #fff;
  overflow-x: hidden;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

#root {
  width: 100%;
  min-height: 100vh;
  
}
/* ===== Select / Input Premium Theme Fix ===== */

input,
textarea,
select {
  background: #1a1a1a !important;
  color: #ffffff !important;
  border: 1px solid #f97316 !important;
  border-radius: 10px;
  padding: 10px 14px;
  transition: 0.3s ease;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #ff8c42 !important;
  box-shadow: 0 0 10px rgba(249, 115, 22, 0.4);
}

select option {
  background-color: #1a1a1a !important;
  color: #ffffff !important;
}

select option:checked {
  background-color: #f97316 !important;
  color: #ffffff !important;
}
